<!doctype html>

<html>
    <head>
	<title>Consent Form</title>
	<link rel="stylesheet" href="../../static/css/eg.css" type="text/css">
	<script src="../../static/jquery-min.js" type="text/javascript"> </script>
	<script src="../../static/task.js" type="text/javascript"> </script>
	<script type="text/javascript">
		$(document).ready( function(){
			var urlParam = searchToObject();			
			if(window.location.href.indexOf("consent") == -1 || window.location.href.indexOf("hitId") == -1 || urlParam["hitId"] != "{{ hitId }}" || window.location.href.indexOf("assignmentId") == -1 || urlParam["assignmentId"] != "{{ assignmentId }}" || window.location.href.indexOf("workerId") == -1 || urlParam["workerId"] != "{{ workerId }}" || window.location.href.indexOf("sessionId") == -1 || urlParam["sessionId"] != "{{ sessionId }}") {
	 			  window.location = '/eg/consent?hitId={{ hitId }}&assignmentId={{ assignmentId }}&workerId={{ workerId }}&sessionId={{sessionId}}';
			}
		});
	    function onexit() {
			self.close();
	    }	
	    function searchToObject() {
			var pairs = window.location.search.substring(1).split("&"),
			obj = {},
			pair,
			i;

			for ( i in pairs ) {
			    if ( pairs[i] === "" ) continue;
			
				pair = pairs[i].split("=");
				obj[ decodeURIComponent( pair[0] ) ] = decodeURIComponent( pair[1] );
			}
		
			return obj;
		}    
	</script>
    </head>
    <body>
    {% if EGParameters['skipConsentInstruct']=='y' %}
    <p class="white22" align="center">Going to the game...</p>
    {% else %}
		<table align="center" width="800">
    	<tr>
      	<td align="justify">
	    <p class="white22" align="center">Consent Form</p>
	    <p>
	    	Hello! Thank you for participating in this experiment. You will be making estimations about features in images. The closer your answers are to the correct answer, the higher your score will be. Your answers will be used for research on personality and behavior in groups. We will keep complete anonymity of participants at all time. 
        If you consent{% if EGParameters['skipQuestionnaire']!='y' %} you will first be taken to a questionnaire. Then,{% endif %} you will get to a detailed instruction page you should read over before starting the game.</p>
	    <p> Do you understand and consent to the terms of the experiment explained above?</p>
	      <p>&nbsp;</p>
        <div align="center">
		<form id="accept" style="text-align: center;" action="#" method="post">
			<input type="hidden" name="assignmentId" value="{{ assignmentId }}" />
			<input type="hidden" name="workerId" value="{{ workerId }}" />
			<input type="hidden" name="hitId" value="{{ hitId }}" />
			<input type="hidden" name="sessionId" value="{{ sessionId }}" />
			<input type="hidden" name="consented" value="true" />
			<input type="submit" value="I agree" style="font-size:16pt" >
			<!--<input type="button" value="No Thanks" onclick="window.close();//onexit();">-->	
		</form>
	    </div>
      
      </td>
      </tr>
      </table>
    {% endif %}
	    <!--<input type="button" class="continue" id="IAgree" value="I Agree" onClick="window.location='/eg/instruct?hitId={{ hitId }}&assignmentId={{ assignmentId }}&workerId={{ workerId }}'">
	    <input type="button" id="NoThanks" value="No Thanks" onclick="onexit()">-->
    </body>
</html>
