<!doctype html>

<html>
	<head>
		<title>Estimation game</title>
		<script src="/static/jquery-min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready( function(){
				var ospath = '{{ ospath }}';											
				$("#test").html(ospath);
				$("#test").html('<img src="/static/pic/img43854196.png" alt="pic1">');				
			});
		</script>
		<style type="text/css">
			body {
				alignment-baseline:central;				
				margin: auto;
				width: 600px;
				font-family: verdana, helvetica, sans-serif;
				background-color: black;
				color: white;
			}
			p {
				width: 450px;
				text-align: left;
			}
			#logo {
				float: right;
				width: 120px;
			}			
			a {
				color: purple;
			}
		</style>
	</head>
	<body>
		<img id="logo" src="http://perso.uclouvain.be/florian.mayneris/images/ucl.jpeg" alt="Universite Catholique de Louvain Logo" />
		{% if assignmentId != "ASSIGNMENT_ID_NOT_AVAILABLE" %}
		<h1 align=center>Welcome to the Estimation Game !</h1>
		<p>By clicking the following URL link, you will be taken to the experiment,
				which includes instructions and consent agreement.</p>
		
		<script>			
			function openwindow() {
				popup = window.open('/eg/consent?hitId={{ hitId }}&assignmentId={{ assignmentId }}&workerId={{ workerId }}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+screen.availWidth+',height='+screen.availHeight+'');
				popup.onunload = function() { location.reload(true) }
			}					
		</script>
		<p>
		<h2 id="test">hi</h2>
		Please disable pop-up blockers before continuing.
		</p>
		<p><a align=center href="#" onClick="openwindow()">Ok, I understand, I'm ready to start.</a></p>		
		{% else %}
		<h1> Call for participants</h1>
		<p>The Large Graphs and Networks group at Universit\'e Catholique de Louvain (UCL), Belgium
		is looking for online participants for a brief experiment on how
		people estimate color features in images. The only requirements are that you are at least 18
		years old and are a fluent English speaker.
		</p>				
        <p>This task can only be completed once. If you have already
        completed this task before the system will not allow you to run
        again. If this looks familiar please release the hit so someone
        else can participate.</p>

		Otherwise, please click the "Accept Hit" button on the Amazon site above to begin the task.
		{% endif %}
	</body>
</html>
